
body{
 background:  #ddd3e2;
 font-family: 'Open Sans', sans-serif;

	
  }

  div#root {
	  margin-top: 100px;

  }

p {
	color: #0C0A87;
	text-decoration: none;
	font-weight: bold;
	font-size: large;
}

div#Details {
	margin: 0 25%;
}

header {
	background:  #660ed8;
	border-bottom: 5px solid  #660ed8; 
	/*
	background:  #8860d0;
	border-bottom: 5px solid #8860d0; */
	width: 100%;
	height: 76px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100; 
	
}
ul {
	list-style: none;
}
li {
  display: inline-block;
  list-style: none;
	float: left;
	padding: 10px
}
a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	text-decoration: underline;
}

nav {
	float: right;
	padding: 20px;
	font-family: 'Open Sans', sans-serif;
}
#menu-icon {
	background: url(menu-icon.png) no-repeat center;
	display: hidden;
	width: 32px;
	height: 32px;
}

@media only screen and (max-width: 640px) {
	header {
		position: absolute;
	}
	#menu-icon {
		display: inline-block;
	}
	nav ul, nav:active ul {
		display: none;
		position: absolute;
		padding: 20px;
    	background:   #baa2da;
		right: 10px;
		top: 65px;
		width: 35%;
	}
	nav:hover ul {
		display: block;
	}
	nav li {
		text-align: center;
		width: 100%;
		padding: 15px 0;
		margin: 0;
	}
	div#Details {
		margin: 1%;
	}
}




div#user {
	display: inline-block;
	margin: 30px 20px 20px;
	padding: 10px;
	
}



td, th {
	
	border: 1px solid #0C0A87;
	border-collapse: collapse;
	padding: 10px;

}

input#Buy {

	background-color: #660ed8;
	color: white;
	padding: 18px 40px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;

}
.tooltip {
	position: relative;
	;
  }
  
.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #660ed8;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	font-weight: normal;
	font-size: large;
	
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	top: 100%;
	left: 50%;
	margin-left: -60px;
  }
  
.tooltip:hover .tooltiptext{
	visibility: visible;
  }

