body {
    background: rgb(135, 202, 247); 
    
  /* Chrome 10-25, Safari 5.1-6 */
 /* background: -webkit-linear-gradient(50deg, rgb(60, 190, 190), rgb(176, 207, 104));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 /* background: linear-gradient(50deg, rgb(60, 190, 190), rgb(176, 207, 104)); 
  margin: 0;
  padding: 0; */
  font-family: sans-serif;
}

div  {
    background: rgb(71, 175, 245);
    text-align: center;
    line-height: 20px;
    height: 50%;
    margin: 2% 30% 30% 30%;
    overflow: auto;
    border-radius: 40px 40px 40px 40px;
    line-height: 2.3;
}
/*
input[title] {
    font-family: sans-serif;
    color: blue;
    font-family: sans-serif;
    font-size: 16px;
} */

input {
    background: rgb(135, 202, 247);
}


#subm [type="submit"]{
    background:  rgb(112, 192, 245);
    color: blue;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 2;
}

p {
    color: blue;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 2;
}



